h1 {
    background-color: #ccc;
    /* 단위필수, 공백으로 연결
               값을 1개 : 위 아래 오른쪽 왼쪽
               값을 2개 : 위 아래 양옆
               값을 3개 : 위 양옆 아래
               값을 4개 : 위 오른쪽 아래 왼쪽 */
    padding: 20px 10px 30px;
    margin: 0px;
}

body {
    margin: 0px;
}

p {
    width: 500px;
    height: 200px;
    border: 1px solid red;
}

.red {
    color: red;
}

.border {
    border: 3px dotted greenyellow;
    /* 영역을 벗어난 경우 숨김 */
    overflow: hidden;
}

div {
    height: 100px;
    margin: 0px auto;
}

.bg_red {
    background-color: red;
    width: 100px;
    height: 200px;
}

.bg_yellow {
    background-color: yellow;
    width: 200px;
}

.bg_green {
    background-color: green;
}

/* #container : 아이디가 container인 요소의 스타일을 지정 */
#container{
    width: 800px;
    height: 100vh;
    background-color: black;
}

header{
    width: 100%;
    height: 100px;
    /* #을 붙여서 16진수 숫자로 색상표현 가능
        #000 ~ #fff
     */
    background-color: red;
}

main{
    width: 100%;
    height: 300px;
    background-color: yellow;
}

footer{
    width: 100%;
    height: 100px;
    background-color: green;
}